.button:hover {
    box-shadow: 5px 5px #4BD8D5;
    transition: 0.4s;
    transform: translate(-10px, -5px);
}

.button {
    transition: 0.4s;
}

.up {
    top: -7rem;
    transition: 0.3s;
}

.down {
    top: 0;
    transition: 0.3s;
}